<ion-view view-title="Historial de Aprendizaje"><ion-content><div class="padding"><div class="mensaje error"><div class="icono"></div><p>Aun no viste ningun contenido de Aprendizaje</p></div></div><div ng-repeat="current in historial.avances" class="item item-module modulo-history"><div class="module row"><div class="col"><img ng-src="http://ec2-107-21-84-195.compute-1.amazonaws.com:8080/api/file/8fdeb17fdf1eea9f7a01" class="full-image"/></div><div class="col"><h3 ng-bind="current.titulo"></h3><h4 ng-bind="current.subtitulo"></h4></div></div><!--.collapse( ng-click="active = !active")-//--><div class="collapse"><!--i.icon-collapse(ng-class="{'ion-chevron-up': active, 'ion-chevron-down': !active}")--><i class="icon-collapse"></i><!--p Guía Actual--><div class="cont-progress"><span>{{current.porcentaje}}%</span><div style="width:{{current.porcentaje}}%" class="progress-porcent"></div></div></div><!--.row.info-history(ng-show="active").col
  span Completado
  span.porcent 3
  small Modulos
.col
  span Tiempo
  span.porcent 1
  small Semana--></div></ion-content></ion-view>