ion-view(view-title="{{ guidesCtrl.titulo }}")
  ion-content
    label.item.item-input
      i.icon.ion-search.placeholder-icon
      input(type='text', placeholder='Buscar Guías')
    
    ion-list
      ion-item.item-module(ng-repeat="g in guidesCtrl.guides",ng-click="guidesCtrl.toLearn(g.idGuia)")
        .module.row
          .col.col-33.video
            img.full-image(ng-src="{{ guidesCtrl.getImage(g) }}")
          .col.modulo-info
            h3(ng-bind="g.titulo")
            h4(ng-bind="g.subtitulo")
            span.estado(ng-bind="guidesCtrl.isComplete(g)? 'completo' : 'incompleto'",
                        ng-class="{ok: guidesCtrl.isComplete(g)}")
        
        .module-foot.row 
          .col.progress
            .mod(ng-repeat="mod in g.avance.modulos", ng-class="{ok: mod.completado }")
          .col.tright
             a.button.button-small.button-positive.icon-left.button-block
              i.icon.ion-ios-play
              | Ver Guía
        

       
          
            
    