ion-view(view-title='EduMed')
  .tabs-striped.tabs-top.tabs-background-positive.tabs-color-light
    .tabs
      a.tab-item(href="#/app/search/new-guide")
        | Nuevas Guías
      a.tab-item(href="#/app/search/guides-interest")
        | Guías de Mi Interes 
  ion-content.has-subheader
  
    
    
    .padding
      .row
        .col.state-module.completo
          p.module-title Artritis Psoriasica
          .icon
            .estado
          p progreso
          .progress-flag(data-progress="5")
            span
            span
            span
            span
            span
            //.porcent 75% 
        .col.state-module
          p.module-title Diabetes
          .icon
           .estado
          p progreso
          .progress-flag(data-progress="2")
            span
            span
            span
            span
            span
            //.porcent 75%             
      
      