ion-view(view-title='EduMed')
  .tabs-striped.tabs-top.tabs-background-positive.tabs-color-light
    .tabs
      a.tab-item(href="#/app/search/new-guide")
        | Nuevas Guías
      a.tab-item(href="#/app/search/guides-interest")
        | Guías de Mi Interes 
  ion-content.has-subheader
  
    

    .padding
      .row(ng-repeat="guide in homeCtrl.guides")
        .col.state-module
          p.module-title(ng-bind="guide.titulo")
          .icon
            .estado
          p progreso
          .progress-flag(data-progress="{{homeCtrl.drawProgress(guide)}}")
            span
            //.porcent 75%

      
      