ion-view(view-title='<span class="logo-bar-home"></span>')
  .tabs-striped.tabs-top.tab-home(ng-class="helpState")
    .tabs
      a.tab-item(href="#/app/search/new-guide")
        | Nuevas Guías
      a.tab-item(href="#/app/search/guides-interest")
        | Guías de Mi Interes 
  ion-content.has-subheader 
    ion-slide-box(on-slide-changed="slideHasChanged($index)",auto-play="true",slide-interval="6000",show-pager="false", does-continue="true")
      ion-slide.first
        .help-home
          .help-home-inter
            .block-img
            h3 Bienvenido!
            p.subtitle a tú espacio de educación médica
            p 
              | Presiona 
              span acá 
              | y podrás ver 
            p 
              |las 
              span nuevas guías 
              | de 
            p educación médica.
      ion-slide.last
        .help-home
          .help-home-inter
            .block-img
            h3 Bienvenido!
            p.subtitle a tú espacio de educación médica
            p 
              | Presiona 
              span acá  
            p
              | y podrás ver  
              span guías 
            p 
              | médicas de 
              span tu interés
              
           
    .padding
      .padding.spinner-cont(ng-if="!homeCtrl.guidesLoaded")
        ion-spinner(icon="dots")
      .row.modules-list
        .col.state-module(ng-repeat="guide in homeCtrl.guides")
          p.module-title(ng-bind="guide.titulo")
          .icon(ng-class="homeCtrl.iconEnfermedad(guide.idEnfermedad)")
          .estado
          p progreso
          .progress-flag(data-progress="{{homeCtrl.drawProgress(guide)}}")
            span
            span
            span
            span
            span
      
      