ion-view(view-title='EduMed')
  .tabs-striped.tabs-top.tabs-background-positive.tabs-color-light
    .tabs
      a.tab-item
        | Nuevas Guías
      a.tab-item
        | Guías de Mi Interes 
  ion-content.has-subheader
    label.item.item-input
      i.icon.ion-search.placeholder-icon
      input(type='text', placeholder='Search')
    .padding
      .list.card.card-video
        .item.item-body
          .block-video
            img.full-image(src="img/video/La_artritis_psoriasica.jpg")
          p
            a.subdued(href='#') Aprender
      .list.card.card-video
        .item.item-body
          .block-video
            img.full-image(src="img/video/La_artritis_psoriasica.jpg")
          p
            a.subdued(href='#') 1 Like
            a.subdued(href='#') 5 Comments
      