ion-view
  ion-tabs.tabs-positive
    ion-tab(title='Nuevas Guías', href='#/app/search/new-guide')
      ion-nav-view(name='new-guide')
    ion-tab(title='Guías de Mi Interes', href='#/app/search/guides-interest')
      ion-nav-view(name='guides-interest')
    