ion-view(view-title="Generar Código")
  ion-nav-buttons(side='primary')
    button.button.button-clear(ng-click="goBack()")
      i.icon.ion-ios-arrow-left  
  ion-content
    .content-app.padding
      
      .padding-top
        .logo-edumed
        .list
          form(name='form')
            label.item.item-input.item-stacked-label(ng-class="{'error':(form.inputNombre.$error.required && form.inputNombre.$touched)}")
              span.input-label Nombre:
              input(type='text', placeholder='Nombre',name="inputNombre",ng-model="patients.nombre", required='')
              span.msj-error(ng-show='form.inputNombre.$error.required && form.inputNombre.$touched') Ingrese un Nombre
            label.item.item-input.item-stacked-label(ng-class="{'error':(form.inputMail.$error.required && form.inputMail.$touched) || (!form.inputMail.$error.required && form.inputMail.$touched && form.inputMail.$error.email) }")
              span.input-label Email:
              input(type='email', placeholder='mail@mail.com',name="inputMail",ng-model="patients.email", required='')
              span.msj-error(ng-show='form.inputMail.$error.required && form.inputMail.$touched') Ingrese un E-mail
              span.msj-error(ng-show='!form.inputMail.$error.required && form.inputMail.$touched && form.inputMail.$error.email') E-mail no valido
            label.item.item-input.item-select(ng-class="{'error':(form.selectInteres.$error.required && form.selectInteres.$touched)}")
              .input-label
                | Interes:
              select(ng-model="patients.interes",ng-options="option.nombre for option in patients.enfermedades track by option.id",name="selectInteres",required='')
              span.msj-error(ng-show='form.selectInteres.$error.required && form.selectInteres.$touched') Seleccione un Interes

            .item
              button.button.button-full.button-energized(ng-click='patients.enviarCodigo()',ng-disabled='form.inputMail.$error.required || form.inputMail.$error.email || form.inputNombre.$error.required || form.selectInteres.$error.required')
                | Enviar Código
            
