ion-view(view-title="Historial de Paciente")
  ion-nav-buttons(side='primary')
    button.button.button-clear(ng-click="goBack()")
      i.icon.ion-ios-arrow-left
  ion-content
    .banner-avatar(id="detalle-header3")
      .cont-avatar
        .avatar
          img(src="img/avatar/old.jpg")
        h4 Jose Hernandez
    
    .item.modulo-history
      
      p Modulo Actual
      h3 Artritis Psoriasica
      h4 Introducción
      //progress(max="5", value="3")
      .cont-progress
        span 60%
        .progress-porcent(style="width:60%")
        
      .row.info-history
        .col
          span Completado
          span.porcent 3
          small Modulos
        .col
          span Reitentos
          span.porcent 4
          small Intentos
        .col
          span Tiempo
          span.porcent 1
          small Semana
      .collapse( ng-click="active = !active")
        h4 Detalle {{detalle}}
        i.icon-collapse(ng-class="{'ion-chevron-up': active, 'ion-chevron-down': !active}")
      .row(ng-show="active")
        .col
          | mas datos
    h3.title-bg.tcenter Modulos Completados
    .item.modulo-history.modulo-history-small      
      h3 Artritis Psoriasica
      h4 Introducción
      .row.foot-data
        .col
          i.icon.ion-android-calendar
        .col
          span 
            strong Inicio: 
            | 24/06/2016 
        
          span 
            strong Fin:  
            | 28/06/2016
      .collapse( ng-click="active2 = !active2")
        h4 Detalle {{detalle}}
        i.icon-collapse(ng-class="{'ion-chevron-up': active2, 'ion-chevron-down': !active2}")
      .row(ng-show="active2")
        .col
          | mas datos
    .item.modulo-history.modulo-history-small      
      h3 Artritis Psoriasica
      h4 Introducción
      .row.foot-data
        .col
          i.icon.ion-android-calendar
        .col
          span 
            strong Inicio: 
            | 24/06/2016 
        
          span 
            strong Fin:  
            | 28/06/2016
      .collapse( ng-click="active2 = !active2")
        h4 Detalle {{detalle}}
        i.icon-collapse(ng-class="{'ion-chevron-up': active2, 'ion-chevron-down': !active2}")
      .row(ng-show="active2")
        .col
          | mas datos
    
          