ion-view(view-title="Mis Pacientes")
  ion-nav-buttons(side='primary')
    button.button.button-clear(ng-click="goBack()")
      i.icon.ion-ios-arrow-left  
  ion-content
    .list
      .item.item-avatar.item-icon-right(ng-repeat="p in patientsCtrl.patients", ui-sref="app.patient-history")
        img(ng-src="{{ patientsCtrl.getImage(p.avatar) }}")
        h2(ng-bind="p.nombre")
        p Artritis Psoriasica
        hr
        p.centro-med(ng-bind="p.institucion")
        i.icon.ion-ios-arrow-right
            
    