ion-view(view-title="Mis Pacientes")
  ion-nav-buttons(side='primary')
    //button.button.button-clear(ng-click="goBack()")
      i.icon.ion-ios-arrow-left  
  ion-content

    ion-list
      ion-item.item-avatar.item-icon-right(ng-repeat="p in patientsCtrl.patients", ng-click="patientsCtrl.goHistory(p.paciente)")
        img(ng-src="http://ec2-107-21-84-195.compute-1.amazonaws.com:8080/api/file/pathAvatar")
        h2(ng-bind="p.paciente.nombre")
        p {{p.enfermedad}}
        hr
        p.centro-med(ng-bind="p.paciente.institucion")
        i.icon.ion-ios-arrow-right
        ion-option-button.button-assertive Eliminar

            
    