ion-view(view-title="Historial de Paciente")
  ion-content
    .padding
    .cont-avatar
      .avatar
        img(src="img/avatar/old.jpg")
      h4 Jose Hernandez
    .item.modulo-actual
      i.ion-chevron-down.icon-collapse
      p Modulo Actual
      h3 Artritis Psoriasica
      h4 Introducción
      .cont-progress
        .progress-porcent
          span 75%
      .row.info-history
        .col
          span Completado
          span.porcent 3
          small Modulos
        .col
          span Reitentos
          span.porcent 4
          small Intentos
        .col
          span Tiempo
          span.porcent 1
          small Semana
    h3.title-bg.tcenter Modulos Completados
    
          