ion-view(view-title="Mis Pacientes")
  ion-nav-buttons(side='primary')
    button.button.button-clear(ng-click="goBack()")
      i.icon.ion-ios-arrow-left  
  ion-content
    ion-list
      ion-item.item-avatar.item-icon-right(ui-sref="app.patient-history")
        img(src="img/avatar/jose.jpg")
        h2 Jose Hernandez
        p Artritis Psoriasica
        hr
        p.centro-med Clinica Alemana
        i.icon.ion-ios-arrow-right
        ion-option-button.button-assertive Eliminar
      ion-item.item-avatar.item-icon-right(ui-sref="app.patient-history")
        img(src="img/avatar/chris.jpg")
        h2 Jose Hernandez
        p Artritis Psoriasica
        hr
        p.centro-med Clinica Alemana
        i.icon.ion-ios-arrow-right
        ion-option-button.button-assertive Eliminar
      ion-item.item-avatar.item-icon-right(ui-sref="app.patient-history")
        img(src="img/avatar/old.jpg")
        h2 Jose Hernandez
        p Artritis Psoriasica
        hr
        p.centro-med Clinica Alemana
        i.icon.ion-ios-arrow-right
        ion-option-button.button-assertive Eliminar
          
            
    