<ion-view view-title="Historial de Paciente"><ion-content><div id="detalle-header3" class="banner-avatar"><div class="cont-avatar"><div class="avatar"><img ng-src="http://ec2-107-21-84-195.compute-1.amazonaws.com:8080/api/file/pathAvatar"/></div><h4 ng-bind="historyCtrl.user.nombre"></h4></div></div><div ng-repeat="h in historyCtrl.hist.active" class="item modulo-history"><div ng-click="active = !active" class="collapse"> <i class="icon-collapse"></i><!--p Guía Actual--><h3 ng-bind="h.titulo"></h3><h4 ng-bind="h.subtitulo"></h4><div class="cont-progress"><span>{{h.porcentaje}}%</span><div ng-style="{ 'width': h.porcentaje + '%' }" class="progress-porcent"></div></div></div><!--.row.info-history(ng-show="active").col
  span Completado
  span.porcent 3
  small Modulos
.col
  span Reintentos
  span.porcent 4
  small Intentos
.col
  span Tiempo
  span.porcent 1
  small Semana

h4 Detalle {{detalle}}

--></div><h3 class="title-bg tcenter">Guías Completadas</h3><div ng-repeat="h in historyCtrl.hist.completed | unique: 'idGuia'" class="item modulo-history modulo-history-small"><h3 ng-bind="h.titulo"></h3><h4 ng-bind="h.subtitulo"></h4><div class="row foot-data"><div class="col"><i class="icon ion-android-calendar"></i></div><div class="col"><span> <strong>Inicio: </strong>{{current.fechaInicio | date:'dd-MM-yyyy'"}}</span><span> <strong>Fin:  </strong>{{current.fechaCompletado | date:'dd-MM-yyyy'"}}</span></div></div></div></ion-content></ion-view>