ion-view(view-title="elementos")
  ion-content
   
    .padding
      .item.item-module
        .module.row
          .col.col-33.video
            img.full-image(src="img/video/La_artritis_psoriasica.jpg")
          .col.modulo-info
            h3 Artritis Psoriasica
            h4 Introducción
            span.estado.ok completo
        .module-foot.row 
          .col.progress
            .mod.ok
            .mod.ok
            .mod.ok
            .mod.ok             
          .col
            .link-ver
              | Ver Modulo
      .item.item-module
        .module.row
          .col.col-33.video
            img.full-image(src="img/video/La_artritis_psoriasica.jpg")
          .col.modulo-info
            h3 Artritis Psoriasica
            h4 Introducción
            span.estado incompleto
        .module-foot.row 
          .col.progress
            .mod.ok
            .mod.ok
            .mod
            .mod            
          .col
            .link-ver
              | Ver Modulo
      a(href="javascript:;",ng-click="elements.showConfirm()") ver
      .list.card.card-video
        .item.item-body
          .block-video
            img.full-image(src="img/video/La_artritis_psoriasica.jpg")
          p
            a.subdued(href='#') Aprender
      .list.card.card-video
        .item.item-body
          .block-video
            img.full-image(src="img/video/La_artritis_psoriasica.jpg")
          p
            a.subdued(href='#') 1 Like
            a.subdued(href='#') 5 Comments    
          
            
    