.avatar {
  width: 100px;
  height: 100px;
  //overflow: hidden;
  border-radius: 50%;
  background: url('../img/icon/user.svg');
  margin: 0 auto;
  //border:3px solid #fff;
  position: relative;
  &:before {
    content: "\f2d3";
    display: none;
    font-family: "Ionicons";
    font-size: 20px;
    position: absolute;
    color:#fff;
    bottom: -3px;
    right:0;
  }
  &:after {
    background: url("../img/icon/spinner.svg");
    display: block;
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
    /* margin-left: -65px; */
    /* margin-top: -65px; */
    background-position: center center;
    background-size: 130px;
    overflow: hidden;
    border-radius: 50%;
  }
  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
}
.banner-avatar {
  height: 150px;
  overflow: hidden;
  position: relative;
  background: url('../img/back/back-edumed.svg');
        background-size: cover;    
 
  .cont-avatar {
    position: absolute;
    width: 100%;
    padding: 16px;
    top: 0;
    h4 {
      color: #fff;
      text-align: center;
      margin: 5px 0 0 0;
      font-weight: 300;
    }
  }
  
}
.datos-user  {
  .row {
    padding: 0;
    .col {
      white-space: normal;
      font-size: 13px;
      &:first-child {
        font-weight: bold;
      }
    }
  }
}
.myaccount {
  .avatar {
    &:before {
      display: none;
    }
  }
  &.account-edit {
    .avatar {
      &:before {
        display: block;
      }
    }
  }
}