.item {
  background: #fff;
}
.input-label {
  //color: #DD965D; 
  }
/*.item-stacked-label input {
  border: 1px solid #209BAB;
  border-radius: 4px;
  padding-left: 8px; }*/
  
 
 .item {
   .button {
     margin: 0;
   }
 }
 .item-select select {
   color: $input-color;
 }
.item {
p.codigo {
  font-weight: bold;
  color:#239BAB;
  font-size: 16px;
}
}