.block-video {
  position: relative;
  &:after {
    content: "";
    position:absolute;
    top: 0;
    left: 0;
    background: url(../img/icon/play-button.svg);
    display: block;
    width: 100%;
    height: 100%;
    background-size: 25%;
    
    opacity: 0.5;
    background-position: center center;
				background-repeat: no-repeat;
  }
}
.card {
  &.card-video {
   p {
     margin: 0;
   } 
  }
}


.state-module {
  text-align: center;
  p {
    color: #424242;
    margin-bottom: 5px;
    font-size: 11px;
    &.module-title {
       font-weight: bold;
       font-size: 16px;
     }
  }
  .icon {
    display: inline-block;
    background: #ffc107 url(../img/icon/heart.svg);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: relative;
    span {
      color: #fff;
    }
    .estado {
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: #4caf50;
      background: #4caf50 url(../img/icon/checked-mark.svg);
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-size: 10px;
      background-position: center center;
      background-repeat: no-repeat;
      display: none;
      
    }
  }
  & + .state-module {
    .icon {
      background: #ff5722 url(../img/icon/pills.svg);
      background-size: 30px;
    background-repeat: no-repeat;
    background-position: center center;

    }
  }
  &.completo {
    .icon {
      .estado {
        display: block;
      }
    }
  }
  
 /*.progress {
   background: #F7852C;
   height: 15px;
   border-radius: 10px;
   //overflow: hidden;
   width: 80px;
   //max-width: 80px;
   display: inline-block;
   position: relative;
   //right: 20px;
   .porcent {
     position: absolute;
     font-size: 11px;
     right: -25px;
     top: 50%;
     margin-top: -10px;
     color: #F7852C;
   }
   span {
     height: 14px;
     display: block;
     background: #fff;
     opacity: 0.5;
     width: 20%;
     font-size: 11px;
     
   }
 }*/
}

$progress-flag-step: 5;
$progress-flag-width: 100%;
$progress-flag-icon-size:20px;
$progress-flag-color-step:#239bab;
.progress-flag {
  height: 4px;
   border-radius: 10px;
   //overflow: hidden;
   width: 80px;
   //max-width: 80px;
   display: block;
   margin: 0 auto;
   position: relative;
   background-color: red;
  span {
    width: $progress-flag-width / $progress-flag-step;
    height: 4px;
    background: #ccc;
    display: block;
    position: relative;
    float: left;
    &:before {
      position: absolute;
      right: -3px;
      top: 50%;
      margin-top: -3px;
      content: "";
      display: block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #ccc;
      z-index: 1;
    }
    &:last-child {
      &:after {
        @include icon-flag(#ccc);
        background-size: $progress-flag-icon-size;
        position: absolute;
        right: - $progress-flag-icon-size;
        bottom: 6px;
    
        content: "";
        display: block;
        width: $progress-flag-icon-size;
        height: $progress-flag-icon-size;


      }
    }
    
  }
  &[data-progress="1"] {
    span {
      background-color: $progress-flag-color-step;
      &:before {
        background-color: $progress-flag-color-step;
      }
      + span {
        background-color:  #ccc;
        &:before {
          background-color: #ccc;
        }
      }
    }
  }
  &[data-progress="2"] {
    span {
      background-color: $progress-flag-color-step;
      &:before {
        background-color: $progress-flag-color-step;
      }
      + span + span  {
        background-color:  #ccc;
        &:before {
          background-color: #ccc;
        }
      }
    }
  }
  &[data-progress="3"] {
    span {
      background-color: $progress-flag-color-step;
      &:before {
        background-color: $progress-flag-color-step;
      }
      + span + span + span {
        background-color:  #ccc;
        &:before {
          background-color: #ccc;
        }
      }
    }
  }
  &[data-progress="4"] {
    span {
      background-color: $progress-flag-color-step;
      &:before {
        background-color: $progress-flag-color-step;
      }
      + span + span + span + span {
        background-color:  #ccc;
        &:before {
          background-color: #ccc;
        }
      }
    }
  }
  &[data-progress="5"] {
    span {
      background-color: $progress-flag-color-step;
      &:before {
        background-color: $progress-flag-color-step;
      }
      &:after {
        @include icon-flag($progress-flag-color-step);
      }
      
    }
  }
}

ion-list {
  .item-module{
    &.item {
      &.item-complex {
        .item-content {
          padding: 16px;
        }
      }
    } 
  } 
}

ion-slide.first {
  padding: 10px;
  .help-home {
    position: relative;
    padding: 20px 0 0 0; 
    .help-home-inter {
        background-color: #b5dcf9;
        background-color: #b5dcf9;
        background: #b5dcf9; /* Old browsers */
        background: -moz-linear-gradient(-65deg,  #b5dcf9 50%, #7db9e8 50%, #cce6f9 50%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-65deg,  #b5dcf9 50%,#7db9e8 50%,#cce6f9 50%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(160deg,  #b5dcf9 50%,#7db9e8 50%,#cce6f9 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        
        padding: 10px;
        border-radius: 10px;
        padding-left:110px;
        &:before {
          position: absolute;
          top: 0;
          left: 20%;
          width: 0;
          height: 0;
          content: "";
          display: block;
          border-bottom: 20px solid #b5dcf9;
          border-top: 0 solid transparent;
          border-left: 15px solid transparent;
          border-right: 15px solid transparent;

        }
        h3,
        p {
          color: #666;
        }
        h3 {
          margin: 0;
          font-weight: bold;
        }
        p {
          margin: 0;
          span {
            font-weight: bold;
            font-size: 16x;
          }
          &.subtitle {
            margin-bottom: 10px;
            font-size: 14px;
          }
        }
        .block-img {
          position: absolute;
          left: 10px;
          background: url("../img/back/doctor-help.png");
          background-size: contain;
          background-repeat: no-repeat;
          width: 90px;
          height: 200px;
        }
      
    }
  }
}

ion-slide.last {
  padding: 10px;
  .help-home {
    position: relative;
    padding: 20px 0 0 0; 
    .help-home-inter {
        background-color: #b5dcf9;
        background: #b5dcf9; /* Old browsers */
        background: -moz-linear-gradient(20deg,  #b5dcf9 50%, #7db9e8 50%, #cce6f9 50%); /* FF3.6-15 */
        background: -webkit-linear-gradient(20deg,  #b5dcf9 50%,#7db9e8 50%,#cce6f9 50%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(20deg,  #b5dcf9 50%,#7db9e8 50%,#cce6f9 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        
        padding: 10px;
        border-radius: 10px;
        padding-right:110px;
        &:before {
          position: absolute;
          top: 0;
          right: 20%;
          width: 0;
          height: 0;
          content: "";
          display: block;
          border-bottom: 20px solid #cce6f9;
          border-top: 0 solid transparent;
          border-left: 15px solid transparent;
          border-right: 15px solid transparent;

        }
        h3,
        p {
          color: #666;
        }
        h3 {
          margin: 0;
          font-weight: bold;
        }
        p {
          margin: 0;
          font-size: 14px;
          span {
            font-weight: bold;
            font-size: 16px;
          }
          &.subtitle {
            margin-bottom: 10px;
            font-size: 14px;
          }
        }
        .block-img {
          position: absolute;
          right: 10px;
          background: url("../img/back/user-help.png");
          background-size: contain;
          background-repeat: no-repeat;
          width: 90px;
          height: 200px;
        }
      
    }
  }
}

.tab-home {
  .tabs {
    .tab-item {
      color: #fff;
    }
  }
  &.help-state-one {
    .tabs {
      background: #b5dcf9; /* Old browsers */
      background: -moz-linear-gradient(left,  #24b7d3 50%, #219cac 50%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left,  #24b7d3 50%,#219cac 50%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right,  #24b7d3 50%,#219cac 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
  }
  &.help-state-two {
    .tabs {
      background: #b5dcf9; /* Old browsers */
      background: -moz-linear-gradient(left,  #219cac 50%, #24b7d3 50%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left,  #219cac 50%,#24b7d3 50%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right,  #219cac 50%,#24b7d3 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
  }
}
button.button.button-icon.button-clear {
      color: #219cac;
}
.bar-royal .button.button-clear {
  color: #219cac;
}
.logo-bar-home {
      background: url(../img/icon/icon-app-full.svg);
      background-repeat: no-repeat;
      background-position: center center;
      width: 100%;
      height: 100%;
      display: block;
          background-size: auto 50px;
}
.tab-item.tab-item-active,
.tab-item.active,
.tab-item.activated {
    background-color: #f39659;
}
.tab-item {
  max-width: 100%;
}