.item-module {
  //padding: 10px;
  .module {
    padding: 0;
    .col {
      
    }
    .video {
      padding: 0;
      position: relative;
      &:after {
        content: "";
        position:absolute;
        top: 0;
        left: 0;
        background: url(../img/icon/play-button.svg);
        display: block;
       width: 100%;
				height: 100%;
				background-size: 25%;
        opacity: 0.5;
				background-position: center center;
				background-repeat: no-repeat;
      }
    }
    .modulo-info {
      padding: 0 10px;
      .estado {
        color:#f44336;
        font-size: 11px;
        &.ok {
          color: #4caf50;
        }
      }
    }
    h3 {
      color: #239BAB;
      margin: 0;
      font-size: 16px;
      font-weight: bold;
    }
    h4 {
      color: #239BAB;
      margin: 0;
      font-size: 13px;
    }
    
    p {
      color: #385356;
    }
    
  }
  .module-foot{
   margin-top: 5px;
   .row,
   .col {
     padding: 0;
   }
   .button {
   	line-height: 22px;
   	.icon {
   		margin-right: 5px;
   	}
   }
   .link-ver {
     color: #239BAB;
     line-height: 20px;
     text-align: right;
   }
  }
  .progress {
    @extend .row-block;
    .mod{
      @extend .col-block;
      color:#DC955D;
      width: 20%;
      &:before {
        font-family: "Ionicons";
        content: "\f463";
        font-size: 20px;
				line-height: 38px;
      }
      &.ok {
        color:#239BAB;
        &:before {
          content: "\f3fe";
        }
      }
    }

  }
  &.module-big {
    .module{
      &.row {
        @extend .flex-row;
       .col {
         &.video {
           @include col-w(100%);
         }
       } 
      }
    } 
  }
}

.module-steps {
	@extend .row;
	padding:20px 0 0 0;
	margin:0;
	.module-step {
		@extend .col;
		position:relative;
		font-size:14px;
		text-align:center;
        padding: 30px 0 0 0;
		&:before {
			content:"";
			display:block;
			width:100%;
			height:1px;
			background: #D2D2D2;
			position:absolute;
			top:12.5px;
			left:50%;
		}
		&:after {
			content: "1";
			line-height: 25px;
			text-align: center;
			width: 25px;
			height: 25px;
			position: absolute;
			left: 50%;
			top: 0;
			margin-left: -12.5px;
			border-radius: 50%;
			display: block;
			background: #BFBFBF;
			color: #FFFFFF;
			
		}
        span {
            font-size: 12px;
            line-height: 100%;
            display: inline-block;
        }
		&:last-child {
			&:before {
				display:none;
			}
		}
		&.active {
			&:after {
				background:#F29659!important;
				border-color:#F29659;
				color:#fff;
			}
		}
		&.step-ok {
			span {
				&:before {
					display: inline-block;
					font-family: "Ionicons";
					content: "\f121 ";
					color: #6BB6D2;
					font-size: 12px;
					margin-right: 3px;
				}
			}
		}
		&:first-child {
			&:after {
				content:"1";
			}
			&.step-ok {
				&:after {
					background:#6BB6D2;
					border-color:#6BB6D2;
					color:#fff;
				}
			}

			& + .module-step {
				&:after {
					content:"2";
				}
				&.step-ok {
					&:after {
						background:darken(#6BB6D2,5);
						border-color: darken(#6BB6D2,5);
						color:#fff;
					}
				}
				& + .module-step {
					&:after {
						content:"3";
						
					}
					&.step-ok {
						&:after {
							background:darken(#6BB6D2,10);
							border-color: darken(#6BB6D2,10);
							color:#fff;
						}
					}
					& + .module-step {
						&:after {
							content:"4";
						}
						&.step-ok {
							&:after {
								background:darken(#6BB6D2,15);
								border: darken(#6BB6D2,15);
								color:#fff;
							}
						}
						& + .module-step {
							&:after {
								content:"5";
								
							}
							&.step-ok {
								&:after {
									background:darken(#6BB6D2,20);
									border: darken(#6BB6D2,20);
									color:#fff;
								}
							}
						}
					}
				}
			}
		}
	}	
}

.foot-data {
	margin: 5px 0 0!important;
	padding: 0;
	color: #49676B;
	//color:#1a7581;
	.col {
		padding: 0;
		font-size: 12px;
		line-height: 120%;
		span {
			//font-weight: bold;
			display:block;
			+ span {
			}
		}
		.icon {
			font-size: 27px;
			line-height: 100%;
			color: $color-icon;
		}
		&:first-child {
			@include col-w(30px); 
		}
	}
}
//popup-container  popup-showing active
.popup-container {
	&.ModalMensaje {
		.popup {
			width: 300px;
		}
	}
}
.calificar {
	background-color: #25b8d3;
	background: #25b8d3;
	background: -moz-linear-gradient(20deg, #25b8d3 50%, #27b3c4 50%, #27b3c4 50%);
	background: -webkit-linear-gradient(20deg, #25b8d3 50%, #27b3c4 50%, #27b3c4 50%);
	background: linear-gradient(20deg, #25b8d3 50%, #27b3c4 50%, #27b3c4 50%);
	padding: 10px;
	border-radius: 10px;
  position:relative;

  .enfermera {
    background: url(../img/back/hola-enfermera.png);
    width: 100px;
    height: 125px;
    background-size: contain;
    background-repeat:no-repeat;
    position:absolute;
    left: 5px;
  }
  p {
    color: #ffffff;
    font-weight: normal;
    display: block;
    margin: 0 0 10px 0;
    font-size: 20px;
    span {
      font-weight: bold;
    }
  }
  &.calificar-icono {
    padding-left: 110px;
    height: 160px;
    text-align: left;
    margin-bottom: 20px;
  }
}
.popup-menjase {
	background-color: #25b8d3;
	background: #25b8d3;
	background: -moz-linear-gradient(20deg, #25b8d3 50%, #27b3c4 50%, #27b3c4 50%);
	background: -webkit-linear-gradient(20deg, #25b8d3 50%, #27b3c4 50%, #27b3c4 50%);
	background: linear-gradient(20deg, #25b8d3 50%, #27b3c4 50%, #27b3c4 50%);
	padding: 10px;
	border-radius: 10px;
  position:relative;
	
	
  .doctor {
    background: url(../img/back/doctor.png);
    width: 100px;
    height: 125px;
    background-size: contain;
    background-repeat:no-repeat;
    position:absolute;
    left: 5px;
  }
	.error {
    background: url(../img/icon/icono_error.png);
    width: 80px;
    height: 80px;
    background-size: contain;
    background-repeat:no-repeat;
    position:absolute;
    left: 5px;
  }
	
  p {
    color: #ffffff;
    font-weight: normal;
    display: block;
    margin: 0 0 10px 0;
    font-size: 16px;
		line-height: 120%;
    span {
      font-weight: bold;
			font-size: 20px;
    }
		&.small {
			font-size: 14px;
		}
  }
  &.pop-up-icono {
    padding-left: 110px;
    height: auto;
    text-align: left;
    margin-bottom: 20px;
  }
	&.pop-up-icono-small {
    padding-left: 100px;

    height: auto;
    text-align: left;
    margin-bottom: 20px;
  }
}
