.content-video {
    overflow: hidden;
    @include aspect-ratio(16, 9);
}
.videogular-container {
    
}
videogular vg-poster img.stop, [videogular] vg-poster img.stop {
    display: block;
     margin: 0;
     height: 100%;
} 