ion-view(view-title="Aprender")
  ion-content    
    .item.item-module.module-big
      .module.row
        .col.col-33.video
          img.full-image(ng-src="{{ aprenderCtrl.getImage() }}")
        .col.modulo-info
          h3(ng-bind="aprenderCtrl.guide.titulo")
          h4(ng-bind="aprenderCtrl.guide.subtitulo")
          span.estado(ng-bind="aprenderCtrl.isComplete()? 'completo' : 'incompleto'",
          ng-class="{ok: aprenderCtrl.isComplete()}")
      .module-foot.row 
        .col.progress
          .mod(ng-repeat="mod in aprenderCtrl.guide.avance.modulos", ng-class="{ok: mod.completado }")
        .col
          a.button.button-small.button-positive.icon-left.button-block(ng-click="aprenderCtrl.toContent(aprenderCtrl.guide.idGuia)")
            i.icon.ion-ios-play
            | Ver Modulo
      .row.foot-data
        .col
          i.icon.ion-android-calendar
        .col
          span 
            strong Inicio: 
            | 24/06/2016 
        
          span 
            strong Fin:  
            | 28/06/2016
    h3.title-bg.tcenter Guias Relacionadas
  
    .item.item-module.item-icon-right(ng-repeat="rg in aprenderCtrl.relatedGuides",ng-click="aprenderCtrl.toLearn(rg.idGuia)")
      .module.row
        .col.col-33.video
          img.full-image(ng-src="{{ aprenderCtrl.getImage(rg) }}")
        .col.modulo-info
          h3(ng-bind="rg.titulo")
          h4(ng-bind="rg.subtitulo")
          span.estado(ng-bind="aprenderCtrl.isComplete(rg)? 'completo' : 'incompleto'",
          ng-class="{ok: aprenderCtrl.isComplete(rg)}")
      i.icon.ion-ios-arrow-forward
          
    
        
          
  