ion-view(view-title="Aprender")
  ion-content
    .padding
      .item.item-module.module-big
        .module.row
          .col.col-33.video
            img.full-image(src="img/video/La_artritis_psoriasica.jpg")
          .col.modulo-info
            h3 Artritis Psoriasica
            h4 Introducción
            span.estado.ok completo
        .module-foot.row 
          .col.progress
            .mod
            .mod
            .mod
            .mod            
          .col
            .link-ver
              | Ver Modulo
    h3 Guias Relacionadas
    .padding  
      .item.item-module.item-icon-right
        .module.row
          .col.col-33.video
            img.full-image(src="img/video/La_artritis_psoriasica.jpg")
          .col.modulo-info
            h3 Artritis Psoriasica
            h4 Introducción
            span.estado.ok completo
        i.icon.ion-ios-arrow-forward
      .item.item-module.item-icon-right
        .module.row
          .col.col-33.video
            img.full-image(src="img/video/La_artritis_psoriasica.jpg")
          .col.modulo-info
            h3 Artritis Psoriasica
            h4 Introducción
            span.estado incompleto
        i.icon.ion-ios-arrow-forward
            
      
          
            
    