.popup-menjase.pop-up-icono
  .doctor
  p.small Terminaste de ver el video.
  p 
    |Completa el 
    span Cuestionario  
    |para 
    span continuar 
    | con los 
    br
    |siguientes 
    span videos 
//.calificar 
  ionic-ratings(ratingsobj="ratingsObject" index="0")