.calificar.calificar-icono
  .enfermera 
  p 
    |Esta 
    span guía  
    |fué de tu 
    span ayuda?
  p 
    span Califca 
    | el 
    span contenido 
    | que 
    span acabas de ver 
.calificar 
  ionic-ratings(ratingsobj="ratingsObject" index="0")