.popup-menjase.pop-up-icono-small
  .error
  p 
    |Una de tus 
    span Respuestas  
    |es 
    span Erronea 
  p.small  
   | Para continuar aprendiendo debes ingresar todas las respuestas correctamente 
//.calificar 
  ionic-ratings(ratingsobj="ratingsObject" index="0")