ion-modal-view
  ion-header-bar
    h2.title {{selectedModule.titulo}} test
  ion-content.has-header
    .padding
      .list
        .item.item-radio(ng-repeat="pregunta in selectedModule.preguntas")
          span.input-label(ng-bind="pregunta.pregunta")
          .circleRadioWrap(ng-repeat="respuesta in pregunta.respuestas")
            input#p1r1.circleRadio(type='radio', name='radio1')
            label.circleRadioLabel(for='p1r1')
            label.label-radio(for='p1r1',ng-bind="respuesta.respuesta")
        .item
          button.button.button-full.button-positive(type='submit', ng-click='closeModal()')
            | Finalizar
