ion-modal-view
  ion-header-bar
    h2.title Artritis Psoriásica test 
  ion-content.has-header
    .padding
      .list
        .item.item-radio
          span.input-label Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          .circleRadioWrap
            input#radio1.circleRadio(type='radio', name='radio')
            label.circleRadioLabel(for='radio1')
            label.label-radio(for='radio1') Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          .circleRadioWrap
            input#radio1.circleRadio(type='radio', name='radio')
            label.circleRadioLabel(for='radio1')
            label.label-radio(for='radio1') Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          .circleRadioWrap
            input#radio1.circleRadio(type='radio', name='radio')
            label.circleRadioLabel(for='radio1')
            label.label-radio(for='radio1') Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        .item.item-radio
          span.input-label Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          .circleRadioWrap
            input#radio1.circleRadio(type='radio', name='radio')
            label.circleRadioLabel(for='radio1')
            label.label-radio(for='radio1') Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          .circleRadioWrap
            input#radio1.circleRadio(type='radio', name='radio')
            label.circleRadioLabel(for='radio1')
            label.label-radio(for='radio1') Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          .circleRadioWrap
            input#radio1.circleRadio(type='radio', name='radio')
            label.circleRadioLabel(for='radio1')
            label.label-radio(for='radio1') Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        .item
          button.button.button-full.button-positive(type='submit', ng-click='clickToSave(fecha)')
            | Finalizar
