ion-modal-view
  ion-header-bar
    h2.title {{selectedModule.titulo}}
  ion-content.has-header
    .padding
      .list
        .item.item-radio(ng-repeat="p in selectedModule.preguntas")
          span.input-label(ng-bind="p.pregunta")
          .circleRadioWrap(ng-repeat="r in p.respuestas")
            input.circleRadio(id="{{r.idRadio}}",type='radio',name='p{{p.idPregunta}}',ng-click="clickRadio(p,r)")
            label.circleRadioLabel.labelAbsolute(for="{{r.idRadio}}")
            label.label-radio(for="{{r.idRadio}}",ng-bind="r.respuesta")
        .item
          button.button.button-full.button-positive(type='submit', ng-click='closeModal()')
            | Finalizar
