ion-view(view-title="{{moduleCtrl.guide.titulo}}")
  ion-nav-buttons(side='primary')
    button.button.button-clear(ng-click="goBack()")
      i.icon.ion-ios-arrow-left
  ion-content
    .content-video
      videogular(vg-player-ready='moduleCtrl.onPlayerReady($API)',
              vg-theme='moduleCtrl.config.theme.url',
              vg-complete='moduleCtrl.onCompleteVideo()')
        vg-media(vg-src='moduleCtrl.config.sources', vg-native-controls='false', vg-youtube)
        vg-overlay-play
        vg-poster(vg-url='moduleCtrl.config.plugins.poster')
        vg-controls
          vg-play-pause-button
          vg-time-display {{ currentTime | date:'mm:ss':'+0000' }}
          vg-scrub-bar
            vg-scrub-bar-current-time
          vg-time-display {{ timeLeft | date:'mm:ss':'+0000' }}
          vg-time-display {{ totalTime | date:'mm:ss':'+0000' }}
          vg-volume
            vg-mute-button
            vg-volume-bar
          vg-fullscreen-button
        vg-buffering
    div
      .padding
        .box-bg
          ul.module-steps
            li.module-step(ng-repeat="mod in moduleCtrl.guide.modulos",
                      ng-class="{'step-ok': mod.avance && mod.avance.completado , 'active': mod.avance && !mod.avance.completado }")

          h2.title-view(ng-bind="moduleCtrl.guide.titulo",ng-click="moduleCtrl.showConfirm()")
          .item
            button.button.button-full.button-positive(type='submit', ng-click='openModal()')
              | Comenzar Test
