ion-modal-view
  ion-header-bar.bar-royal
    h2.title Terminos y Condiciones
    
  ion-content.has-header
    .padding.box-condiciones
      .item
        h2 consectetur adipisicing elit
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos rem expedita, assumenda quo perspiciatis ex asperiores quidem ducimus dolores. Ex accusantium vitae labore rem laboriosam neque aut eius. Quibusdam, aliquam!
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos rem expedita, assumenda quo perspiciatis ex asperiores quidem ducimus dolores. Ex accusantium vitae labore rem laboriosam neque aut eius. Quibusdam, aliquam!
        ul 
          li p Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
          li Quos rem expedita, assumenda quo perspiciatis ex asperiores quidem ducimus dolores. 
          li Ex accusantium vitae labore rem laboriosam neque aut eius. 
          li Quibusdam, aliquam!
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos rem expedita, assumenda quo perspiciatis ex asperiores quidem ducimus dolores. Ex accusantium vitae labore rem laboriosam neque aut eius. Quibusdam, aliquam!
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos rem expedita, assumenda quo perspiciatis ex asperiores quidem ducimus dolores. Ex accusantium vitae labore rem laboriosam neque aut eius. Quibusdam, aliquam!
      .item
              button.button.button-full.button-positive(ng-click="modal.hide()")  Aceptar