ion-view.ion-view-login(hide-nav-bar='true')
  // view-title="Login"
  ion-content
    .padding
      .content-app.padding.content-login
        .content-logo-login
          .logo-login
        .list
          form(name='form')
            label.item.item-input.item-stacked-label(ng-class="{'error':(form.inputNombre.$error.required && form.inputNombre.$touched)}")
              span.input-label Nombre:
              input(type='text', placeholder='Nombre',name="inputNombre",ng-model="registrar.nombre", required='')
              span.msj-error(ng-show='form.inputNombre.$error.required && form.inputNombre.$touched') Ingrese un Nombre
            label.item.item-input.item-stacked-label(ng-class="{'error':(form.inputMail.$error.required && form.inputMail.$touched) || (!form.inputMail.$error.required && form.inputMail.$touched && form.inputMail.$error.email) }")
              span.input-label E-mail:
              input(type='email', placeholder='mail@mail.com',name="inputMail",ng-model="registrar.email", required='')
              span.msj-error(ng-show='form.inputMail.$error.required && form.inputMail.$touched') Ingrese un E-mail
              span.msj-error(ng-show='!form.inputMail.$error.required && form.inputMail.$touched && form.inputMail.$error.email') E-mail no valido
            label.item.item-input.item-stacked-label(ng-class="{'error':(form.inputPassword.$error.required && form.inputPassword.$touched)}")
              span.input-label Contraseña:
              input(type='password', placeholder='•••••••',name="inputPassword",ng-model="registrar.password", required='')
              span.msj-error(ng-show='form.inputPassword.$error.required && form.inputPassword.$touched') Ingrese una Contraseña
            label.item.item-input.item-stacked-label(ng-class="{'error':(form.inputFechaNac.$error.required && form.inputFechaNac.$touched)}")
              span.input-label Fecha de Nacimiento:
              input(type='date', placeholder='fecha',name="inputFechaNac",ng-model="registrar.fechaNacimiento", required='')
              span.msj-error(ng-show='form.inputFechaNac.$error.required && form.inputFechaNac.$touched') Ingrese Fecha de Nacimiento
            label.item.item-input.item-select(ng-class="{'error':(form.selectGenero.$error.required && form.selectGenero.$touched)}")
              .input-label
                | Genero:
              select(ng-model="registrar.genero",ng-options="option.nombre for option in registrar.generos track by option.id",name="selectGenero",required='')
              span.msj-error(ng-show='form.selectGenero.$error.required && form.selectGenero.$touched') Seleccione Genero
            .item.BoxForm.item-checkbox
              label.checkbox
                input(type='checkbox', checked='')
              p.condiciones
                a(href='javascript:;', ng-click='showCondiciones()') Aceptar terminos y condiciones
            .item
              button.button.button-full.button-assertive(ng-click='registrar.paso1()',ng-disabled='form.inputMail.$error.required || form.inputMail.$error.email || form.inputPassword.$error.required || form.inputNombre.$error.required || form.inputFechaNac.$error.required || form.selectGenero.$error.required')
                | Por Codigo
          //.padding
            p Metodo de Pago
          //.item
            button.button.button-full.button-positive(ng-disabled)
              | Transaccion
          //hr
          //.item
            button.button.button-full.button-assertive(ui-sref='codigo')
              | Por Codigo
