//MEDIA QUERIES
$xs: "only screen and (min-device-width :320px) and (orientation :portrait)";//iPhone5
$md: "only screen and (min-device-width :375px) and (orientation :portrait)";//iPhone6
$lg: "only screen and (min-device-width :414px) and (orientation :portrait)";//iPhone6+

$xlg: "only screen and (min-width:768px) and (orientation : portrait)";//iPad
$xlgl: "only screen and (min-width:768px) and (orientation :landscape)";


body {
   font-family: 'Lato';
}
//TITULOS
.title-view {
  color: #5C9BAA;
  font-size: 20px;
 }
.title-bg {
  background-color: #F1EFEF;
  font-size: 16px;
  text-transform: uppercase;
  color: #5C9BAA;
  padding: 10px;
  font-weight: bold;
  margin: 0;
}




.tcenter {
  text-align: center; }

.tleft {
  text-align: left; }

.tright {
  text-align: right; }

hr {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 0;
  border-top: 1px solid #eee; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }


.content-app {
 position: relative; 
 background: rgba(244, 243, 240, 1);
}

.row-block {
  letter-spacing: -.31em;
  text-rendering: optimizespeed;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  display: -ms-flexbox;
  -ms-flex-flow: row wrap;
  -ms-align-content: flex-start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
}
.col-block {
  display: inline-block;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}
.flex-row {
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

@mixin col-w ($x) {
-webkit-box-flex: 0;
  -webkit-flex: 0 0 $x;
  -moz-box-flex: 0;
  -moz-flex: 0 0 $x;
  -ms-flex: 0 0 $x;
  flex: 0 0 $x;
  max-width: $x;
}

.item {
  &.error {
    border-bottom: 2px solid #ff5722;
    input,
    select {
      color:#ff5722;
    }
    .msj-error {
      color:#ff5722;
      font-size: 11px;
    }
  }
}

.item-select {
  display: block;
  .input-label {
    position: static;
    width: 100%;
    display: block;
    max-width: 100%;
    min-width: 100%;
  }
  select {
    width: 100%;
    display: block;
    min-width: 100%;
    position: static;
    max-width: 100%;
    direction: ltr;
    padding-left: 0;
  }
}


///Mensajes
.block-msj {
  padding: 16px;
  text-align: center;
  p {
    color: #757575;
    font-size: 13px;
    line-height: 130%;
    
  }
}

.backdrop {
   //background-color: rgba(255, 255, 255, 0.68)!important;
}
.icon {
  //color: $color-icon;
}
.popup-container.active .popup {
  //background: transparent;
  background: #fff;
  //padding: 16px;
  .icon {
    color: #239BAB;
    font-size: 60px;
  }
  .popup-head {
    border: none;
    .popup-title {
      color: #239BAB;
      font-size: 24px;
    }
  }
  .popup-body {
    color: #424242 ;
    text-align: center;
    font-size: 14px;
  }
}


//ICONOS svg
@mixin icon-flag($color) {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" viewBox="0 0 60 60" xml:space="preserve"><path d="M51.4 22.6L10 3.4V1c0-0.6-0.4-1-1-1S8 0.4 8 1v3 33 3 19c0 0.6 0.4 1 1 1s1-0.4 1-1V40.7l41.4-16.3c0.4-0.1 0.6-0.5 0.6-0.9C52 23.1 51.8 22.8 51.4 22.6z" fill="#{$color}"/></svg>');
}




///MODAL

.loading-container.active {
    z-index: 99;
}
.backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}
.loading-container .loading {
    background: none;
}
.edumed-loading {
    background: url(../img/icon/spinner-in.svg);
    width: 70px;
    height: 70px;
    background-size: 60px;
    background-position: center center;
    position: relative;
    &:before {
        background: url(../img/icon/spinner.svg);
        content: "";
        display: block;
        width: 70px;
        height: 70px;
        -webkit-animation: spin 0.8s infinite linear;
        animation: spin 0.8s infinite linear;
        opacity: 0.7;
    }
}
ion-view {
    //padding-top: 16px;
}


//ANIMATE
@mixin animate-prefixer($property, $value...) {
    -webkit-#{$property}: unquote('#{$value}');
    -moz-#{$property}: unquote('#{$value}');
    -o-#{$property}: unquote('#{$value}');
    #{$property}: unquote('#{$value}');
}
@mixin animate-keyframe($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }

    @-moz-keyframes #{$animation-name} {
        @content;
    }

    @-o-keyframes #{$animation-name} {
        @content;
    }

    @keyframes #{$animation-name} {
        @content;
    }
}


@-webkit-keyframes tabMenuShow {
	0% {transform: translateY(0);}
	100% {transform: translateY(-40px);}
}

@-moz-keyframes tabMenuShow {
	0% {transform: translateY(0);}
	100% {transform: translateY(-40px);}
}

@-o-keyframes tabMenuShow {
	0% {transform: translateY(0);}
	100% {transform: translateY(-40px);}
}

@keyframes tabMenuShow {
	0% {transform: translateY(0);}
	100% {transform: translateY(-40px);}
}


@-webkit-keyframes tabMenuHide {
	0% {transform: translateY(-40px);}
	100% {transform: translateY(-40px);}
}

@-moz-keyframes tabMenuHide {
	0% {transform: translateY(-40px);}
	100% {transform: translateY(0px);}
}

@-o-keyframes tabMenuHide {
	0% {transform: translateY(-40px);}
	100% {transform: translateY(0px);}
}

@keyframes tabMenuHide {
	0% {transform: translateY(-40px);}
	100% {transform: translateY(0px);}
}




@-webkit-keyframes spin {
	100% { transform: rotate(360deg); }
}

@-moz-keyframes spin {
	100% { transform: rotate(360deg); }
}

@-o-keyframes spin {
	100% { transform: rotate(360deg); }
}

@keyframes spin {
	100% { transform: rotate(360deg); }
}


.backdrop.visible.backdrop-loading.active {
  background-color: rgba(255, 255, 255, 0.8);
}
//MODAL
.modal {
    background: #f0f0f0;
    .bar-header {
        background: #f0f0f0;
        border-color: #f0f0f0;
        h2 {
            color: #5C9BAA;
            font-size: 20px;
        }
    }
}

.bar.bar-positive {
    border-color: #239bab;
    background-color: #239bab;
    background-image: linear-gradient(0deg, #239bab, #239bab 50%, transparent 50%);
    color: #fff;
}