ion-view(view-title="Historial de Aprendizaje")
  ion-nav-buttons(side='primary')
    button.button.button-clear(ng-click="goBack()")
      i.icon.ion-ios-arrow-left
  ion-content
    .item.modulo-history(ng-repeat="current in historial.avances")
      //.collapse( ng-click="active = !active")-//
      .collapse
        //i.icon-collapse(ng-class="{'ion-chevron-up': active, 'ion-chevron-down': !active}")
        i.icon-collapse
        //p Guía Actual
        h3(ng-bind="current.titulo")
        h4(ng-bind="current.subtitulo")
        .cont-progress
          span{{current.porcentaje}}%
          .progress-porcent(style="width:{{current.porcentaje}}%")
          
      //.row.info-history(ng-show="active")
        .col
          span Completado
          span.porcent 3
          small Modulos
        .col
          span Tiempo
          span.porcent 1
          small Semana
