ion-view(view-title="Historial de Aprendizaje")
  ion-content
    .padding
      .mensaje.error(ng-show="historial.avances === undefined || historial.avances.length == 0")
        .icono
        p Aun no viste ningun contenido de Aprendizaje
    .item.item-module.modulo-history(ng-repeat="current in historial.avances",ng-click="historial.toLearn(current.idGuia)")
      .module.row
        .col
          img.full-image(ng-src="{{ historial.getImage(current.pathImgPreview) }}")
        .col
          h3(ng-bind="current.titulo")
          h4(ng-bind="current.subtitulo")
      //.collapse( ng-click="active = !active")-//
      .collapse
        //i.icon-collapse(ng-class="{'ion-chevron-up': active, 'ion-chevron-down': !active}")
        i.icon-collapse
        //p Guía Actual
        .cont-progress
          span{{current.porcentaje}}%
          .progress-porcent(style="width:{{current.porcentaje}}%")
      //.row.info-history(ng-show="active")
        .col
          span Completado
          span.porcent 3
          small Modulos
        .col
          span Tiempo
          span.porcent 1
          small Semana
