ion-view.myaccount(view-title='Mi Cuenta')
  ion-content(delegate-handle="user" elastic-header="detalle-header3")
    .banner-avatar(id="detalle-header3")
      .cont-avatar
        .avatar
          img(ng-src="{{perfil.avatarPerfil}}",on-error-src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")
        h4 {{user.perfil.nombre}}
    .content-app.padding
      //elasticHeader
      
      .item
        .datos-user       
          .row.row-top
            .col.col-33 Nombre: 
            .col {{user.perfil.nombre}}
          .row.row-top
            .col.col-33 Genero:
            .col {{user.perfil.genero | lowercase}}
          .row.row-top
            .col.col-33 Fecha de Nacimiento:
            .col {{user.perfil.fechaNacimiento | date :"dd-MM-yyyy"}}
          .row.row-top
            .col.col-33 Isapre:
            .col {{user.perfil.isapre}}
          .row.row-top
            .col.col-33 Email: 
            .col {{user.perfil.email}}
          .row.row-top
            .col.col-33 Institución de Salud: 
            .col {{user.perfil.institucionDescripcion}}
          .row.row-top
            .col.col-33 Interes: 
            .col 
              .span(ng-repeat="inte in user.perfil.intereses")
                |{{inte.nombre}}
                br

      .item
        a.button.button-full.button-energized(href="#/app/edit-user")
          | Editar   
        