ion-view.myaccount.account-edit(view-title='Mi Cuenta')
  ion-content(delegate-handle="user-edit" elastic-header="detalle-header4")
    .banner-avatar(id="detalle-header4")
      .cont-avatar
        .avatar(ng-click="user.showPopup()")
          img(ng-src="{{perfil.avatarPerfil}}",on-error-src="")
        h4 {{perfil.nombre}}
    .content-app.padding
      //elasticHeader
      //img(ng-src="{{user.picture}}")
      .padding-top
        .list
          //label.item.item-input.item-stacked-label
            span.input-label Interes:
            input(type='text', placeholder='Añadir Interes')
          label.item.item-input.item-stacked-label
            span.input-label Nombre:
            input(type='text', placeholder='Nombre',name="inputNombre",ng-model="user.nombre")
          label.item.item-input.item-stacked-label
            span.input-label Fecha de Nacimiento:
            input(type='date', placeholder='fecha',name="inputFechaNac",ng-model="user.fechaNacimiento")
          label.item.item-input.item-select
            .input-label
              | Genero:
            select(ng-model="user.genero",ng-options="option.nombre for option in user.generos track by option.id",name="selectGenero")
          label.item.item-input.item-select
            .input-label
              | Interes:
            select(ng-model="user.enfermedad",ng-options="option.nombre for option in user.enfermedades track by option.id",name="selectInteres")
          label.item.item-input.item-select
            .input-label
              | Institución:
            select(ng-model="user.institucion",ng-options="option.nombre for option in user.instituciones track by option.id",name="selectInstitucion")
          label.item.item-input.item-select
            .input-label
              | Isapre:
            select(ng-model="user.isapre",ng-options="option.nombre for option in user.isapres track by option.id",name="selectIsapre")

          .item
            button.button.button-full.button-energized(ng-click="user.save()")
              | Guardar     
      