ion-view.myaccount.account-edit(view-title='Mi Cuenta')
  ion-content(delegate-handle="user-edit" elastic-header="detalle-header4")
    .banner-avatar(id="detalle-header4")
      .cont-avatar
        .avatar(ng-click="user.showPopup()")
          img(ng-src="{{perfil.avatarPerfil}}",on-error-src="")
        h4 {{perfil.nombre}}
    .content-app.padding
      //elasticHeader
      //img(ng-src="{{user.picture}}")
      .padding-top
        .list
          //label.item.item-input.item-stacked-label
            span.input-label Interes:
            input(type='text', placeholder='Añadir Interes')
          label.item.item-input.item-select(ng-class="{'error':(form.selectInteres.$error.required && form.selectInteres.$touched)}")
            .input-label
              | Interes:
            select(ng-model="user.enfermedad",ng-options="option.nombre for option in user.enfermedades track by option.id",name="selectInteres",required='')
            span.msj-error(ng-show='form.selectInteres.$error.required && form.selectInteres.$touched') Seleccione un Interes
          label.item.item-input.item-select(ng-class="{'error':(form.selectInstitucion.$error.required && form.selectInstitucion.$touched)}")
            .input-label
              | Institución:
            select(ng-model="user.institucion",ng-options="option.nombre for option in user.instituciones track by option.id",name="selectInstitucion",required='')
            span.msj-error(ng-show='form.selectInstitucion.$error.required && form.selectInstitucion.$touched') Seleccione una Institución
          label.item.item-input.item-select(ng-class="{'error':(form.selectIsapre.$error.required && form.selectIsapre.$touched)}")
            .input-label
              | Isapre:
            select(ng-model="user.isapre",ng-options="option.nombre for option in user.isapres track by option.id",name="selectIsapre",required='')
            span.msj-error(ng-show='form.selectIsapre.$error.required && form.selectIsapre.$touched') Seleccione una Isapre

          .item
            button.button.button-full.button-energized(ng-click="user.save()")
              | Guardar     
      