ion-view(view-title="Historial de Paciente")
  ion-content
    .banner-avatar(id="detalle-header3")
      .cont-avatar
        .avatar
          img(ng-src="http://ec2-107-21-84-195.compute-1.amazonaws.com:8080/api/file/pathAvatar")
        h4(ng-bind="historyCtrl.user.nombre")
    
    .item.item-module.modulo-history(ng-repeat="h in historyCtrl.hist.active",ng-click="historyCtrl.toLearn(h.idGuia)")
      .module.row
        .col
          img.full-image(src="img/video/La_artritis_psoriasica.jpg")
        .col
          h3(ng-bind="h.titulo")
          h4(ng-bind="h.subtitulo")
          h5.fecha Fecha de Inicio :
            span(ng-bind=" h.fechaInicio | date:'dd-MM-yyyy'")
          h5.fecha(ng-if="h.completado && h.porcentaje== 100") Fecha de Termino :
            span(ng-bind=" h.fechaCompletado | date:'dd-MM-yyyy'")
      .collapse
        //i.icon-collapse(ng-class="{'ion-chevron-up': active, 'ion-chevron-down': !active}")
        i.icon-collapse
        //p Guía Actual
        .cont-progress
          span{{h.porcentaje}}%
          .progress-porcent(style="width:{{h.porcentaje}}%")
      
      
    h3.title-bg.tcenter Guías Completadas
    .item.modulo-history.modulo-history-small(ng-repeat="h in historyCtrl.hist.completed | unique: 'idGuia'",ng-click="historyCtrl.toLearn(h.idGuia)")
      h3(ng-bind="h.titulo")
      h4(ng-bind="h.subtitulo")
      .row.foot-data
        .col
          i.icon.ion-android-calendar
        .col
          span 
            strong Inicio: 
            | {{current.fechaInicio | date:'dd-MM-yyyy'"}}
        
          span 
            strong Fin:  
            | {{current.fechaCompletado | date:'dd-MM-yyyy'"}}

